html{
    color:rgb(255, 255, 255);
    text-align: center;
    background-color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 #cud{
    background-color: #383838;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 6rem;
 }